<!--<div class="">
  <h1 class="title"><strong class="">¡Bienvenido a <span class="type-font">la extensión</span>!</strong></h1>
</div>-->
<div class="pb-3">
  <div class="d-flex align-items-center">
    <h1 class="title">
      <strong class="">¡Bienvenido a <span class="">ExUpa</span>!</strong>
    </h1>
    <!-- <div>
      <img src="assets/favicon.png" alt="" width="60px" />
    </div> -->
  </div>
</div>

<div class="card-login">
  <main class="mb-0">
    <!-- Login List -->
    <!-- <ng-template> -->
      <div class="py-4 px-4">
        <app-login></app-login>
      </div>
    <!-- </ng-template> -->
    <!-- Login inputs -->
    <!-- <ng-template [ngIf]="this.currentState === this.routes.loginInputs">
      <div>
        <app-login-inputs></app-login-inputs>
      </div>
    </ng-template> -->
    <!-- Shared -->
    <!-- <ng-template [ngIf]="this.currentState === this.routes.shared">
      <div>
        <app-shared></app-shared>
      </div>
    </ng-template> -->
  </main>
</div>

<div class="py-2">
  <app-social-bar></app-social-bar>
</div>
