@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.card-login {
  background-color: white;
  /* padding-top: 2px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px; */
  border-radius: 15px;
  box-shadow: 2px 2px 30px -20px var(--gris);
}

.title {
  color: white;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 1.65rem;
  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Merienda', cursive;*/

  margin: 0px;
}

.type-font {
  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Merienda', cursive;*/
}
