.pb-5 {
  padding-bottom: 60px;
}

.cardUser {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 30px -20px var(--gris);
  margin-bottom: 12px;
}

.center-h {
  display: flex;
  justify-content: center;
}

.center-v {
  display: flex;
  align-items: center;
}

.delete-icon {
  color: var(--gris-oscuro);
}

.delete-icon:hover {
  color: var(--vinotinto);
}

.mb-0 {
  margin: 2px;
}

.row .col {
    padding: 0px;
}

.padding{
  padding-top: 15px;
}
