.layout {
  padding: 20px;
  padding-top: 60px;
  z-index: 1;
  position: relative;
}

.navbar-margin {
  padding-bottom: 78px;
}

.screen {
  width: 100%;
  height: 100%;
}

.background {
  position: fixed;
  top: 0;
}
