@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.cardLogin {
  background-color: white;
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
  box-shadow: 2px 2px 30px -20px var(--gris);
}

div > .border-r {
  border-radius: 5px;
}

.mb-0 {
  margin: 3px;
}

.ml-1 {
  margin-left: 8px;
}

button > .colorBtnIcon {
  color: white;
}

a > .colorInfo {
  color: var(--gris-oscuro);
}
a > .colorInfo:hover {
  color: var(--vinotinto);
}

.size {
  font-size: 2.5rem;
}

div > a {
  padding: 0px;
}

.center-h {
  display: flex;
  justify-content: center;
}

.center-v {
  display: flex;
  align-items: center;
}

.button {
  padding: 0;
  border: none;
  border-radius: 10px;
  height: 40px;
  background-color: var(--vinotinto);
}

.p-1 {
  padding-left: 13px;
}
div > .pb-1{
  padding-bottom: 3px;
}

.pl-1 {
  padding-left: 14px;
}

label > .pl-2 {
  padding-left: 27px;
}

.font-btn {
  color: white;
  font-size: 1.1rem;
}

.button:hover {
  background-color: var(--vinotinto-hover);
}

.buttonTab {
  outline: none;
  border: 0;
}

.checkbox {
  width: 40px;
}

input[type=checkbox] {
  transform: scale(0.2);
}

span.field-icon {
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 2;
}

span.field-icon {
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 2;
}

.eye-icon {
  font-size: 1.3rem;
  padding-right: 10px;
  padding-top:3px;
  color: var(--gris-oscuro);
}

.eye-icon:hover {
  color: var(--vinotinto);
}

.title {
  color: white;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 1.65rem;
  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Merienda', cursive;*/

 margin: 0px;
}

.type-font {
  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Merienda', cursive;*/
}

.p-3 {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
}

.mt-1 {
  margin-top: 12px;
}

.row .col.s12 {
  margin: 0px;
  padding-bottom: 15px;
}


