@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.cardLogin {
  background-color: white;
  padding-top: 2px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 30px -20px var(--gris);
}

div>.border-r {
  border-radius: 5px;
}

.mb-0 {
  margin: 3px;
}

.ml-1 {
  margin-left: 8px;
}

button>.colorBtnIcon {
  color: white;
}

a>.colorInfo {
  color: var(--gris-oscuro);
}

a>.colorInfo:hover {
  color: var(--vinotinto);
}

.size {
  font-size: 2.5rem;
}

div>a {
  padding: 0px;
}

.center-h {
  display: flex;
  justify-content: center;
}

.center-v {
  display: flex;
  align-items: center;
}

.button {
  padding: 0;
  border: none;
  border-radius: 10px;
  height: 40px;
  background-color: var(--vinotinto);
}

.p-1 {
  padding-left: 13px;
}

div>.pb-1 {
  padding-bottom: 3px;
}

.pl-1 {
  padding-left: 14px;
}

label>.pl-2 {
  padding-left: 27px;
}

.font-btn {
  color: white;
  font-size: 1.1rem;
}

.button:hover {
  background-color: var(--vinotinto-hover);
}

.buttonTab {
  outline: none;
  border: 0;
}

.checkbox {
  width: 40px;
}

input[type=checkbox] {
  transform: scale(0.2);
}

span.field-icon {
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 2;
}

span.field-icon {
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 2;
}

.eye-icon {
  font-size: 1.3rem;
  padding-right: 10px;
  padding-top: 3px;
  color: var(--gris-oscuro);
}

.eye-icon:hover {
  color: var(--vinotinto);
}

.title {
  color: white;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 1.65rem;
  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Merienda', cursive;*/

  margin: 0px;
}

.no-visible{
  visibility: hidden !important;
}

.type-font {
  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Merienda', cursive;*/
}

.p-3 {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
}

.mt-1 {
  margin-top: 12px;
}

.row .col.s12 {
  margin: 0px;
  padding-bottom: 15px;
}

.pt-2 {
  padding-top: 0.5rem;

}
.pb-3{
  padding-bottom: 0.7rem;

}

.mt-2 {
  margin-top: 0.5rem;

}

label {
  font-size: 1rem;

}

.link {
  font-size: 1rem;
  color: #000;
  border-bottom: 1px solid #000;
}

.link:hover {
  color: var(--vinotinto);
  border-bottom: 1px solid var(--vinotinto);
}

.text-center {
  text-align: center;
}

/* Select */

input.input-select {
  background-color: #fff;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(108, 108, 108, 0.407);
  padding: 1rem;
}

input.input-select:hover {
  background-color: rgb(245, 245, 245);
  border-radius: 10px;

}

input.noselect,
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.css-select,
.css-select *,
.css-select *::before,
.css-select *::after {
  box-sizing: border-box;
}

.css-select {
  position: relative;
}

.css-select:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(54% - 0.5rem);
  right: 0.75rem;
  width: 0.5rem;
  height: 0.5rem;
  border: 0 solid rgb(0, 0, 0);
  border-width: 0 0.125rem 0.125rem 0;
  transform: rotate(45deg);
  transition: top 0.3s ease, transform 0.3s ease;

  pointer-events: none;
}

.css-select:focus-within:after {
  top: calc(50% - 0.25rem);
  transform: rotate(225deg);
}

.css-select__selected {
  display: block;
  margin: 0;
  padding: 0.75rem 2rem 0.75rem 1rem;
  width: 100%;
  font: inherit;
  font-size: 1.125rem;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  border: none;
  border-radius: 0.25rem;
  background: #ffffff;
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none !important;
}

.css-select__dropdown {
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.5rem;
  width: 100%;
  max-height: 9.75rem;
  background: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.25);
  transform: translateY(1.25rem);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  overflow: auto;
  z-index: 9999;
}

.css-select__dropdown::-webkit-scrollbar {
  margin: 10px 0px;
  width: 0.5rem;
}

.css-select__dropdown::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.25rem;
}

.css-select__dropdown::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 0.25rem;
}

.css-select__dropdown::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c;
}

.css-select:focus-within .css-select__dropdown {
  transform: translateY(0.75rem);
  opacity: 1;
  visibility: visible;
  border-radius: 10px;
}

.css-select__option {
  display: block;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  font: inherit;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 1.2;
  border: none;
  border-radius: 0.25rem;
  background: transparent;
  transition: background 0.3s ease;
  cursor: pointer;
  outline: none !important;
}

.css-select__option:hover,
.css-select__option:focus {
  background: #e9e9e9;
}
