
<div class="center-f">
  <img src="../../../assets/favicon.png" class="" width="70px" />
</div>
<div class="cardLogin">
<div class="carousel">
  <input #input1 type="radio" name="slides" checked="checked" id="slide-1">
  <input type="radio" name="slides" id="slide-2">
  <input type="radio" name="slides" id="slide-3">

  <ul class="carousel__slides">
      <li class="carousel__slide">
          <h5 class="row col s12 centrar2">Sobre nosotros</h5>
            <div class="center-h col s12">
              <img src="../../../assets/support2.svg" alt="" width="200px" />
            </div>
      </li>
      <li class="carousel__slide">
            <h5 class="row col s12 centrar2">Sobre</h5>
              <div class="center-h col s12">
                <img src="../../../assets/team.svg" alt="" width="250px" />
              </div>
      </li>
      <li class="carousel__slide">

          <h5 class="row col s12 centrar2">Contacto</h5>
            <div class="center-h col s12">
              <img src="../../../assets/contact2.svg" alt="" width="250px" />
            </div>

      </li>
  </ul>

  <div class='centrar'>
    <ul id="container" class="carousel__thumbnails">

      <li  style="margin-left: auto">
        <label (click)="onClickMe($event)"  for="slide-1" class="show options"></label>
      </li>
      <li >
        <label (click)="onClickMe($event)"  for="slide-2" class='options'></label>
      <li style="margin-right: auto">
        <label (click)="onClickMe($event)"  for="slide-3" class='options'></label>
      </li>
    </ul>
  </div>
</div>
</div>


