<form [formGroup]="credentialForm" class="" (ngSubmit)="onSubmit()">
  <div class="row mb-0 col s12 center-h">
    <h5>
      <strong>Iniciar sesión</strong>
    </h5>
  </div>
  <div>
    <label for="username">Nombre de usuario</label>
    <div class="pt-2">
      <div class="css-select">
        <input type="text" class="css-select__selected
          input-select noselect"
          [disabled]="true"
          formControlName="username" (click)="visibilityDropdownUser()" />
        <div class="css-select__dropdown"
          [ngClass]="{'no-visible':!isVisibilityDropdownUser}">
          <button type="button" class="css-select__option"
            [id]="user.username"
            [name]="user.username"
            (click)="selectUser(user);"
            *ngFor="let user of userCreential">{{user.username}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row col s12 center-h mb-0 pb-3">
    <div class="buttonTab">
      <button
        id="btnDecode"
        class="waves-effect waves-light button center-v center-h mt-1"
        type="submit">
        <span for="btnDecode" class="p-1 font-btn">Iniciar sesión</span>
        <i class="size material-icons colorBtnIcon">keyboard_arrow_right</i>
      </button>
      <span routerLinkActive="bar"> </span>
    </div>
  </div>
  <div class="pt-2 text-center">
    <a
      class="pt-2 link noselect"
      href=""
      (click)="this.handleRedirectTO($event)">
      Usar credenciales
    </a>
  </div>
</form>
