<div class="cardBar p-1 ">
  <div class="p-2 d-flex justify-content-around">
    <a href='#' (click)="this.handleClickLike($event)">
      <div *ngIf="isLike; else notLike">
        <i class="bi bi-heart-fill"></i>
      </div>
      <ng-template #notLike>
        <i class="bi bi-heart"></i>
      </ng-template>
    </a>
    <a  href='' (click)="this.handleClickShare($event)">
      <i class="bi bi-share"></i>
    </a>
    <a  href='' (click)="this.handleClickLMore($event)">
      <i class="bi bi-plus-circle"></i>
    </a>
  </div>
</div>
