.p-3 {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
}

.cardBar {
  background-color: white;
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
  box-shadow: 2px 2px 30px -20px var(--gris);
}

.center {
  display: flex;
  justify-content: center;
}

.mt-1 {
  margin-top: 12px;
}
