<div class="p-3 mt-1 cardBar row">
  <a href='#' (click)="this.handleClickLike($event)">
    <div *ngIf = "isLike as value; else notLike">
      <i class="material-icons p-3 col s4 center ">favorite</i>
    </div>
    <ng-template #notLike>
      <i class="material-icons p-3 col s4 center color-base">favorite_border</i>
    </ng-template>
  </a>
  <a  href='' (click)="this.handleClickShare($event)">
    <i class="material-icons p-3 col s4 center color-base">share</i>
  </a>
  <a  href='' (click)="this.handleClickLMore($event)">
    <i class="material-icons p-3 col s4 center color-base">control_point</i>
  </a>
</div>
