a > i {
  color: var(--gris-oscuro);
  text-align: center;
}

div > a {
  padding: 0px;
}

.button {
  border-radius: 10px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center
}

a > .activo {
  color: var(--vinotinto);
}

.pt-1{
  padding-top: 10px;
}

.bar {
  width: 80px;
  position: absolute;
  height: 4px;
  background-color:var(--vinotinto);
  margin-bottom: -16px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

.buttonTab {
  outline: none;
  border: 0;
}
