/* You can add global styles to this file, and also import other style files */

@import "./materialize-imports.scss";

:root {
  --vinotinto: rgb(151, 16, 16);
  --vinotinto-hover: rgb(196, 18, 18);
  --gris: rgb(0, 0, 0);
  --gris-oscuro: rgb(61, 59, 59);
}

html {
  width: 300px;
  height: 510.47px;
  max-height: 510.48px;
  margin: 0px;
  padding: 0px;
}

*::selection {
    background-color: #e1cfcf;
    color: #681111;
}
 
*::-moz-selection {
    background-color:#E1D8CF;
    color: #681111;
}
