/* You can add global styles to this file, and also import other style files */

@import "./materialize-imports.scss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
:root {
  --vinotinto: rgb(151, 16, 16);
  --vinotinto-hover: rgb(196, 18, 18);
  --gris: rgb(0, 0, 0);
  --gris-oscuro: rgb(61, 59, 59);
}

html {
  width: 300px;
  height: 600.47px;
  max-height: 600.48px;
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
}

*::selection {
    background-color: #e1cfcf;
    color: #681111;
}
 
*::-moz-selection {
    background-color:#E1D8CF;
    color: #681111;
}
