<nav class="">
  <div class="">
    <ul class="row">
      <li class="col-3 py-3">
        <app-tab-button
          [nameButton]="'Home'"
          [toRedirectPath]="'home'"
          [iconPath]="'home'"
        >
        </app-tab-button>
      </li>
      <li class="col-3 p-3">
        <app-tab-button
          [nameButton]="'Settings'"
          [toRedirectPath]="'settings'"
          [iconPath]="'settings'"
        >
        </app-tab-button>
      </li>
      <li class="col-3 p-3">
        <app-tab-button
          [nameButton]="'About'"
          [toRedirectPath]="'about-us'"
          [iconPath]="'info'"
        >
        </app-tab-button>
      </li>
    </ul>
  </div>
</nav>
