<nav class="">
  <div class="">
    <ul class="navbar p-0 m-0">
      <li class="">
        <app-tab-button
          [nameButton]="'Home'"
          [toRedirectPath]="'home'"
          [iconPath]="'bi-house'">
        </app-tab-button>
      </li>
      <li class="">
        <app-tab-button
          [nameButton]="'Settings'"
          [toRedirectPath]="'settings'"
          [iconPath]="'bi-people'">
        </app-tab-button>
      </li>
      <li class="">
        <app-tab-button
          [nameButton]="'About'"
          [toRedirectPath]="'about-us'"
          [iconPath]="'bi-exclamation-circle'">
        </app-tab-button>
      </li>
    </ul>
  </div>
</nav>
